<div class="preview">
    <h2>Form is submitted!</h2>

        <div>
            <label>First Name: </label>
            <span>{{user.firstName}}</span>
        </div>
        <div>
            <label>Last Name: </label>
            <span>{{user.lastName}}</span>
        </div>
        <div>
            <label>Email address: </label>
            <span>{{user.email}}</span>
        </div>
        <div>
            <label>Phone: </label>
            <span>{{user.phone}}</span>
        </div>

    <div class="back-btn">
        <button class="btn btn-info btn-lg"
                data-ng-click="back()">Back</button>
    </div>
</div>
